@import "../../../component//globalStyles//GlobalStyles.scss";
/* Course.module.css */
.uiUxCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
}

.sectionVideo {
    background-color: var(--White-97, #f7f7f8);
}

.courseSectionsContainer {
    max-width: 1280px;
    height: 100%;
    position: fixed;
    right: -4px;
    height: 100vh;
    top: 60px;
    padding-left: 2px;
    padding-right: 4px;
}

.courseSection {
    display: flex;
    flex: 0 0 auto;
    max-width: 100%;
    flex-direction: row;
    border: #fff;
    background-color: #fff;
    border-radius: 10px;
    @media (max-width: 991px) {
        max-width: 100%; // Stacks the sections on smaller screens
    }
}

.courseIntro {
    align-self: stretch;
    padding: 0 60px 40px;
}

@media (max-width: 991px) {
    .courseIntro {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.introContent {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 991px) {
    .introContent {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.courseTitle {
    color: var(--Grey-15, #262626);
    font: 600 38px/150% "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1000px;
}

@media (max-width: 991px) {
    .courseTitle {
        max-width: 100%;
        margin-top: 40px;
    }
}

.courseDescription {
    color: var(--Grey-35, #59595a);
    font: 400 16px/24px "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1000px;
}

@media (max-width: 991px) {
    .courseDescription {
        max-width: 100%;
        margin-top: 40px;
    }
}

.videoContainer {
    height: calc(100vh - 60px);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    padding: 0 !important;

    .courseHero {
        outline: none;
        border: none;
        //height: width / 2;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        //background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #c4c4c4;
        display: flex;
        width: 100%;
        //max-width: 1280px;
        position: relative;
        padding: 30px;
    
        .videoPlayer{
            width: 100%;
            height: 100%;
        }
        
    }

    .titleHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //background-color: black;
        height: 200px;
        width: 100%;
    
        .textHeader {
            font-size: 2vw;
            font-weight: bold;
            padding: 30px;
            margin: 20px;
        }
    }
    
}



@media (max-width: 991px) {
    .courseHero {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.playIcon {
    position: absolute;
    align-items: center;
    border-radius: 68px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    width: 54px;
    justify-content: center;
    height: 54px;
    margin: 218px 0 158px;
    padding: 0 10px;
}

@media (max-width: 991px) {
    .playIcon {
        margin: 40px 0;
    }
}

.playIcon img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

.courseContent {
    display: flex;
    margin-top: 80px;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 991px) {
    .courseContent {
        max-width: 100%;
        margin-top: 40px;
    }
}


.courseSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 0px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    

    .sectionNumber {
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 70px;
    }

    .sectionTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
    }

    .highlighted {
        border: 2px solid #ffa500;
        background-color: #fff4e5;
    }
}

.sectionHeader {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    width: 100%;
}

@media (max-width: 991px) {
    .courseSection {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.sectionNumber {
    color: var(--Grey-15, #262626);
    text-align: right;
    margin-bottom: 26px;
    font: 700 50px/40% "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .sectionNumber {
        max-width: 100%;
        font-size: 40px;
    }
}

.sectionTitle {
    color: var(--Grey-20, #333);
    letter-spacing: -0.12px;
    margin-top: 40px;
    font: 600 20px/150% "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
    text-align: start;
}

@media (max-width: 991px) {
    .sectionTitle {
        max-width: 100%;
    }
}

.lessonGroup {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .lessonGroup {
        max-width: 100%;
    }
}

.lessonGroupTitle {
    color: var(--Grey-20, #333);
    font: 500 16px/24px "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
}

.lessonItem {
    &:hover {
        border-color: rgba(255, 213, 153, 1);
        opacity: 0.7;
    }
    cursor: pointer;
    border: 1px solid rgba(241, 241, 243, 1);
    width: 100%;
    margin-left: 0;
    padding: 14px 6px;
    text-align: start;
    max-width: 683px;
}

.lessonItem.highlighted {
    box-shadow: 0px 0px 0px 4px #fff4e5;
    border-color: rgba(255, 213, 153, 1);
    background-color: var(--Absolute-White, #fff);
}

@media (max-width: 991px) {
    .lessonItem {
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.lessonInfo {
    text-align: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 150%;
    flex: 1;
}

.lessonTitle {
    text-align: start;
    color: var(--Grey-20, #333);
    font: 500 16px "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 307px;
}

.lessonNumber {
    color: var(--Grey-35, #59595a);
    font: 400 14px "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
}

.timeInfo {
    align-items: center;
    border-radius: 6px;
    display: flex;
    gap: 4px;
    font-size: 12px;
    color: var(--Grey-35, #59595a);
    font-weight: 400;
    margin: auto 0;
    padding: 4px;
    min-width: 102px;
}

.lessonItem.highlighted .timeInfo {
    background-color: var(--Orange-90, #ffeacc);
    color: var(--Grey-30, #4c4c4d);
}

.clockIcon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
}

.time {
    font-family: "Be Vietnam Pro", -apple-system, Roboto, Helvetica, sans-serif;
}

.curriculumItem {
    display: flex;
    align-items: start;
    background-color: #f2f5f7;
    border: 1px solid #ccc;
    flex-direction: column;
    text-align: start;
}

.curriculumItemTitle {
    color: var(--Grey-20, #333);
    font: 700 16px "Be Vietnam Pro", sans-serif;
    margin: 8px;
    border-radius: 8px;
    display: flex;
}

.wrapLesson {
    background: white;
    border-top: 1px solid #ccc;
}

.lessonItem {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.courseCurriculum {
    width: 100%;
}

.active {
    svg {
        transform: rotate(-180deg) !important;
    }
}

.transfrom {
    transition: all 0.2s ease-in-out;
}

.svgHiglighted {
    color: rgb(255, 175, 73);
}

.progress {
    font-size: 18px;
    font-weight: 600;
}

.sectionComment {
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    bottom: 4%;
    right: 26%;
    cursor: pointer;
}

.headerPage {
    height: 60px;
    background: black;
    color: white;
    padding: 0 100px;
    border-bottom: 1px solid #ccc;
}

.wrapperPage {
    margin-top: -$h-m-header;
}

.logoPage {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 26px;
    img {
        width: 50px;
        height: 50px;
    }
}

.cmt {
    img {
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        margin-right: 10px;
    }
}

.input {
    font-size: 14px;
    margin-top: 10px;
    height: 30px;
    border-bottom: 1px solid #e2e1e1;
}

.input:focus {
    border-bottom: 1px solid black;
    outline: none;
}

.cmtItem {
    width: 100%;
}

.cmtContent {
    align-items: center;
    font-size: 14px;
    min-height: 70px;

    .wrap {
        padding: 8px 12px;
        border-radius: 8px;
        display: inline-block;
        background: #f0f2f5;
        span {
            font-weight: 600;
            margin-bottom: 6px;
        }
    }

    .timeCmt {
        font-size: 12px;
    }

    .actionsCmt {
        padding: 2px;
        font-weight: 500;
        margin-right: 12px;
        font-size: 12px;
    }
}

.content {
    margin-top: 4px;
    font-size: 12px;
}

.cmtWrap {
    max-height: 430px;
    padding-right: 10px;
    overflow-y: scroll;
}

.replyBox {
    display: none;
    margin-top: 12px;
}

.btnSend {
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
