.navigationTopBar1 {
    font-family: "Be Vietnam Pro", "Helvetica Neue", Helvetica, Arial !important;
}

.div,
.topBarBg {
    position: relative;
    display: none;
}
.topBarBg {
    height: 70px;
    width: 1201px;
    background-color: var(--theme-colors-white);
    max-width: 100%;
}
.div {
    width: 28px;
    font-weight: 500;
    white-space: nowrap;
}
.h3,
.pathIcon {
    position: absolute;
}
.pathIcon {
    height: 96%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 4%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.h3 {
    margin: 0;
    top: calc(50% - 12.5px);
    left: 4.17%;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    white-space: nowrap;
    z-index: 1;
}
.icon {
    align-self: stretch;
    height: 25px;
    position: relative;
    opacity: 0.9;
    mix-blend-mode: normal;
    z-index: 1;
}
.bg,
.iconWrapper {
    box-sizing: border-box;
}
.iconWrapper {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xs);
}
.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-lgi);
    background-color: var(--color-ghostwhite);
    border: 0.6px solid var(--color-lightgray);
}
.searchIcon {
    height: 15px;
    width: 15px;
    mix-blend-mode: normal;
}
.search,
.search1,
.searchIcon {
    position: relative;
    z-index: 1;
}
.search1 {
    width: 320px;
    border: 0;
    outline: 0;
    font-family: var(--font-nunito-sans);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 19px;
    color: var(--color-gray-200);
    display: inline-block;
    mix-blend-mode: normal;
    padding: 0;
}

.searchIcon {
    cursor: pointer;
}

.search {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    border-radius: var(--br-lgi);
    border: 1px solid var(--color-lightgray);
    padding: var(--padding-3xs) var(--padding-base-5) var(--padding-4xs);
    box-sizing: border-box;
    gap: var(--gap-sm-5);
}
.navLeft,
.navLeftWrapper,
.search {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}
.navLeft {
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-5xl);
}
.navLeftWrapper {
    width: 436px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
}
.icon2,
.ovalIcon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon2 {
    position: absolute;
    height: 83.61%;
    width: 82.76%;
    top: 16.39%;
    right: 17.24%;
    bottom: 0;
    left: 0;
    object-fit: contain;
}
.ovalIcon {
    height: 52.46%;
    width: 55.17%;
    top: 0;
    right: 0;
    bottom: 47.54%;
    left: 44.83%;
    z-index: 1;
}
.b,
.ovalIcon,
.ovalIcon1 {
    position: absolute;
}
.b {
    top: calc(50% - 15.25px);
    left: 58.62%;
    display: inline-block;
    min-width: 6.1px;
    white-space: nowrap;
    z-index: 2;
}
.ovalIcon1 {
    top: -1px;
    right: -1px;
    width: 18px;
    height: 18px;
    mix-blend-mode: normal;
    z-index: 3;
}
.icon1 {
    align-self: stretch;
    height: 30.5px;
    position: relative;
    z-index: 1;
}
.iconContainer {
    width: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
}
.flagIcon {
    width: 40px;
    height: 27px;
    position: relative;
    object-fit: cover;
}
.languageFlag {
    width: 45.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs-1) 0 0;
    box-sizing: border-box;
}
.english1 {
    position: relative;
    font-weight: 600;
    white-space: nowrap;
}
.englishContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
}
.dropDownIcon {
    width: 8.2px;
    height: 4.7px;
    position: relative;
}
.dropdownMenu {
    flex-direction: column;
    padding: var(--padding-3xs-7) 0 0;
}
.dropdownMenu,
.english,
.englishWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.english {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-2xs-9);
    z-index: 1;
}
.englishWrapper {
    width: 123.1px;
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
    box-sizing: border-box;
    color: var(--color-dimgray-100);
}
.man438081960720Icon {
    height: 44px;
    width: 44px;
    position: relative;
    object-fit: cover;
    min-height: 44px;
}
.admin,
.joneAly {
    position: relative;
    white-space: nowrap;
}
.admin {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-dimgray-200);
}
.userInfo,
.userName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.userName {
    gap: 4px;
}
.userInfo {
    margin-left: 12px;
    padding: var(--padding-10xs) var(--padding-7xs) 0 0;
}
.moreIcon {
    position: relative;
}
.moreOptions {
    overflow: hidden;
    width: 42px;
    height: 42px;
    border-radius: 100rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: var(--padding-smi) 0 0; */
}
.moreOptions,
.navRight,
.profile {
    justify-content: flex-start;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px;
    z-index: 1;
    color: var(--color-darkslategray-100);
}
.navRight {
    gap: var(--gap-7xl-5);
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--theme-colors-white);
    font-family: var(--font-nunito-sans);
}
.navRight,
.navigationTopBar1,
.navigationTopBar11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}
.navigationTopBar11 {
    padding-right: 100px !important;
    flex: 1;
    justify-content: space-between;
    padding: var(--padding-smi) var(--padding-12xl) var(--padding-smi)
        var(--padding-11xl);
    box-sizing: border-box;
    gap: var(--gap-xl);
}
.navigationTopBar1 {
    align-self: stretch;
    justify-content: flex-start;
    z-index: 1;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-100);
    font-family: var(--font-lineawesome);
}
@media screen and (max-width: 900px) {
    .userName {
        display: none;
    }
}
