.boxShadow {
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    // border-radius: 20%;
}

a {
    color: rgb(38 38 38 / var(--tw-text-opacity));
}
.header {
    @apply flex items-center justify-between p-4 bg-white shadow-md;
  }
  .menu-icon, .search-icon, .profile-info {
    @apply flex items-center;
  }
  .logo {
    @apply flex-1 flex justify-center;
  }
  .avatar {
    @apply w-10 h-10 rounded-full;
  }
  @media (max-width: 768px) {
    .header {
      @apply flex-wrap;
    }
  
    .logo {
      @apply order-2 w-full justify-center my-2;
    }
  
    .menu-icon, .search-icon {
      @apply order-1;
    }
  
    .profile-info {
      @apply order-3 w-full justify-center;
    }
    .notification{
        width: 50px;
        :hover {
            cursor: pointer;
        }
    }
  }    
  
.contentItem {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
  flex-shrink: 0;
  height: 40px;


  .formSelect {
      width: 200px;
      height: 20px;
      border-radius: 8px !important;
      cursor: pointer;
      box-sizing: content-box;
      background: none;
      margin: 10px;
      animation-name: mui-auto-fill-cancel;
      line-height: 1.57143;
      font-size: 0.875rem;
      font-weight: 400;
  }
  
  svg {
      user-select: none;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
      position: absolute;
      pointer-events: none;
      right: 10px;
      width: 18px;
      height: 18px;
      top: calc(50% - 9px);
  }
}
.css-s2gg24-control {
  height: 20px !important;
  border-radius: 8px;
}
  .logo{
    display: flex;
    width: 30%;
  }
.dropdownList {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 0;
    cursor: pointer;
}

.open {
    width: 0;
    display: block;
}

.dropdownListItem {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
        background-color: #f1f1f1;
    }
}

.notification {
    // align-items: center;
    // display: flex;
    :hover {
        cursor: pointer;
    }
}
