.fieldForm {
    margin-top: 20px;
}

.input {
    border: 1px solid #e0dddd;
    align-items: center !important;
    background: white;
    font-size: 14px;

    &:focus {
        border-color: black;
    }

    svg {
        height: 20px;
        color: black;
    }

    &:focus-within {
        border: 1px solid black !important;
    }
}
