.cmt {
    img {
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        margin-right: 10px;
    }
}

.cmtItem {
    // width: 100%;
}

.cmtContent {
    align-items: center;
    font-size: 14px;
    min-height: 70px;

    .wrap {
        padding: 8px 12px;
        border-radius: 8px;
        display: inline-block;
        background: #f0f2f5;
        span {
            font-weight: 600;
            margin-bottom: 6px;
        }
    }

    .timeCmt {
        font-size: 12px;
    }

    .actionsCmt {
        padding: 2px;
        font-weight: 500;
        margin-right: 12px;
        font-size: 12px;
    }
}

.content {
    margin-top: 4px;
    font-size: 12px;
}

.subCmtWrap {
    margin-top: 12px;
    margin-left: 50px;
    border-left: 1px solid #ccc;
    padding-left: 12px;
}

.subCmtWrap.cmtItem {
    display: none;
}
