@import "/src/component/globalStyles/GlobalStyles.scss";

$bg-hover: rgba(145, 158, 171, 0.08);

$border-color: #e9ecee;
.Wrapper {
    box-sizing: border-box;
    border-right: 1px solid $border-color;
    margin-top: $h-admin-header;
    background-color: white;
    width: 280px;
    height: calc(100vh - #{$h-admin-header}) !important;
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: $h-admin-header;
}

.container {
    padding-left: 16px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.title {
    box-sizing: border-box;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    display: inline-flex;
    color: rgb(145, 158, 171);
    margin-bottom: 4px;
    padding: 16px 8px 8px 12px;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        color: rgb(33, 43, 54);
    }
}

.actionLink {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;

    margin: 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    color: rgb(99, 115, 129);
    padding: 4px 8px 4px 12px;
    min-height: 44px;

    &:hover {
        text-decoration: none;
        background-color: rgba(145, 158, 171, 0.08);
    }
    svg {
        width: 28px;
    }
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;
    svg {
        transform: none !important;
        color: #e9ebed;
    }
}

.nameAction {
    font-size: 14px;
}

.label {
    width: 100%;
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.57143;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.dotItem {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    &::after {
        display: block;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgb(145, 158, 171);
        transition: transform 200ms;
    }
}

.subContent {
    display: none;
    min-height: 0px;
    height: auto;
    transition-duration: 300ms;
    width: 100%;

    overflow: visible;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.subItem {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    color: rgb(99, 115, 129);
    padding: 4px 8px 4px 12px;
    min-height: 36px;
    &:hover {
        background-color: $bg-hover;
    }
}

.listItem {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 0.3s linear;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* transition-behavior: normal; */
    /* transition-duration: 150ms; */
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    /* transition-delay: 0ms; */
    /* transition-property: background-color;
    */
}

.text {
    font-size: 15px;
}

.actionLink.active {
    background-color: rgba(0, 167, 111, 0.08);
    color: rgb(0, 167, 111);
}

.btnClose {
    position: absolute;
    cursor: pointer;
    top: 40px;
    right: -16px;
    width: 32px;
    height: 32px;
    border-radius: 100rem;
    color: #6b8399;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 22px;
    }
}

.close {
    width: 84px;
    .container {
        pointer-events: none;
    }
}

.title.close {
    display: none;
}
