@import "./component/globalStyles/GlobalStyles.scss";
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.ptHeader{
    height: 100%;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.z-1000 {
    z-index: 1000;
}

.nav-header {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
}

.nav-header-active {
    background: #f1f1f3;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminContent {
    margin-top: 50px;
    // padding-left: $w-lefNav;
    width: 100%;
}
