.w-1400 {
    width: 1400px !important;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$label-gray: #919eab;
$bg-hover: rgba(145, 158, 171, 0.08);
$border-color: #e9ecee;
$h-header: 89px;
$h-admin-header: 68px;
$w-lefNav: 240px;
$h-m-header: 104px;
$b-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
$c-black: rgb(33, 43, 54);

body {
    margin: 0;
    line-height: normal;
    font-family: "Be Vietnam Pro", "Helvetica Neue", Helvetica, Arial !important;
}
:root {
    /* fonts */
    // --font-nunito-sans: "Nunito Sans";
    // --font-lineawesome: LineAwesome;
    // --font-inter: Inter;
    // --font-dm-sans: "DM Sans";

    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-9xl: 28px;

    /* Colors */
    --theme-colors-white: #fff;
    --color-royalblue-100: #4880ff;
    --color-royalblue-200: #4c61cc;
    --color-darkslategray-100: #404040;
    --color-darkslateblue-100: #3749a6;
    --color-gray-100: #202224;
    --gray-900: #161c24;
    --color-gray-200: rgba(32, 34, 36, 0.5);
    --color-gray-300: rgba(0, 0, 0, 0.4);
    --color-lavender: rgba(226, 234, 248, 0.7);
    --color-coral: #ff8743;
    --color-dimgray-100: #646464;
    --color-dimgray-200: #565656;
    --color-ghostwhite: #f5f6fa;
    --color-lightgray: #d5d5d5;
    --gray-200: #f4f6f8;
    --theme-colors-primary: #624bff;
    --gray-600: #637381;

    /* Gaps */
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-11xl: 30px;
    --gap-5xl: 24px;
    --gap-5xs: 8px;
    --gap-10xs-4: 2.4px;
    --gap-7xl-5: 26.5px;
    --gap-10xs: 3px;
    --gap-2xs-9: 10.9px;
    --gap-sm-5: 13.5px;

    /* Paddings */
    --padding-5xl: 24px;
    --padding-xl: 20px;
    --padding-smi: 13px;
    --padding-21xl: 40px;
    --padding-xs: 12px;
    --padding-10xs: 3px;
    --padding-sm: 14px;
    --padding-5xs: 8px;
    --padding-12xs: 1px;
    --padding-11xl: 30px;
    --padding-4xl: 23px;
    --padding-base: 16px;
    --padding-8xs: 5px;
    --padding-11xs: 2px;
    --padding-46xl: 65px;
    --padding-12xl: 31px;
    --padding-7xs: 6px;
    --padding-4xs: 9px;
    --padding-3xs-7: 9.7px;
    --padding-7xs-1: 5.1px;
    --padding-3xs: 10px;
    --padding-base-5: 16.5px;

    /* Border radiuses */
    --br-7xs: 6px;
    --br-9xs: 4px;
    --br-xs: 12px;
    --br-sm: 14px;
    --br-2xs: 11px;
    --br-lgi: 19px;
    --br-5xs: 8px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block !important;
}

.b-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.b-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.container {
    width: 1200px;
}

.wrapMainDash {
    margin: 0px 70px 160px 70px;
}

.titleMainDash {
    margin: 0px 0px 26px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
}

.h-22 {
    height: 88px !important;
}

a {
    text-decoration: none !important;
}

.css-tj5bde-Svg {
    position: relative !important;
    right: 1px;
    top: 4%;
}

.css-1im77uy-control {
    height: 100% !important;
    border-radius: 8px !important;
}

.css-b62m3t-container,
.css-gymzdq-control {
    height: 100% !important;
    border-radius: 8px !important;
}

.formGroup {
    border-radius: 8px;
    padding: 24px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.z-header {
    z-index: 5;
}

.mt-header {
    margin-top: $h-header;
}
.pt-header {
    padding-top: $h-m-header;
}

.boxShadow {
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.des-line-3 {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

d-none {
    display: none;
}

.css-gymzdq-control,
.css-s2gg24-control {
    height: 58px !important;
    // width: 200px !important;
}

.field-disable {
    user-select: none;

    input {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.List_contentItem__EdrE8 svg {
    right: 0px !important;
}

.btnModal {
    padding: 6px 10px;
    border-radius: 8px;
    margin: 4px 10px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #ccc;
    color: black;
}

.btnModal.delete {
    color: white;
    background-color: #ff5630;
}
.css-s2gg24-control {
    height: 54px !important;
    border-radius: 8px;
}

ul {
    padding-left: 0;
}

.overlay {
    background-color: rgba(22, 28, 36, 0.8);
}

.disabled {
    display: none !important;
}

.active {
    svg {
        transform: rotate(-180deg);
    }
}

.transform {
    transition: all 0.2s ease-in-out;
}

.checkbox-wrapper *,
.checkbox-wrapper *::before,
.checkbox-wrapper *::after {
    box-sizing: border-box;
}

.checkbox-wrapper label {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-wrapper input {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper input:checked ~ .checkbox {
    transform: rotate(45deg) translateX(-7px);
    width: 14px;
    margin-left: 12px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox-wrapper .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 2px solid #434343;
    border-radius: 4px;
    transition: all 0.375s;
}

.App {
    height: 100vh;
}

.hideScroll {
    overflow-y: hidden !important;
}

// input {
//     outline: none !important;
//     border: none !important;
// }

.b-shadow-sm {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 4px,
        rgba(17, 17, 26, 0.05) 0px 0px 26px !important;
}

body {
    color: rgb(33, 43, 54);
}

.circle {
    border-radius: 100rem;
}

.disabled-field {
    color: #9c9696;
    cursor: not-allowed;
    user-select: none;
    input {
        cursor: not-allowed;
    }
}

button {
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
        opacity: 0.8;
    }
}

.btn {
    background-color: black;
    color: white;
}

.show {
    display: block !important;
}

.showFlex {
    display: flex !important;
}

hr {
    margin: 0px !important;
}

.cssHr {
    margin: 0px !important;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(145, 158, 171, 0.9);
}

.time {
    color: rgb(145, 158, 171);
    font-size: 10px;
}

.dotNew {
    // position: absolute;
    top: 26px;
    right: 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 184, 217);
}

.boxNew {
    height: 24px;
    min-width: 24px;
    border-radius: 6px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 12px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 184, 217);
}

.boxReaded {
    height: 24px;
    min-width: 24px;
    border-radius: 6px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 12px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: black;
}

.dotReaded {
    top: 26px;
    right: 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

/* CSS */
.btnCss {
    all: unset;
    width: 24px;
    // height: 30px;
    font-size: 12px;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 6px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btnCss::after,
.btnCss::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all 0.4s;
}

.btnCss.btn-black {
    ::before {
        background: black !important;
    }
}
.btnCss::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: rgb(232, 70, 70);
    border-radius: 10px;
}

.btnCss::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #f1080815;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.btnCss:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.btnCss:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.btnCss:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.btnLGBT {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btnLGBT:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btnLGBT 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-btnLGBT {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.btnLGBT:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.box-md {
    width: 960px !important;
}

.input[type="checkbox"] {
    display: none;
}

/* Style for the custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

/* Style for the custom checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 2px;
    opacity: 0;
}

.input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

.btn-lgbt {
    display: block;
    cursor: pointer;
    color: white;
    margin: 0 12px;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
}

.btn-lgbt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
    );
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
        0.75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
}

.btn-lgbt:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
        transform: translateX(-25%);
    }
}

.btn-lgbt.btn-black span {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 14px;
    background: #000;
    border-radius: 3px;
    height: 100%;
}
.btn-lgbt.btn-white span {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 14px;
    background: white;
    color: black;
    border-radius: 3px;
    height: 100%;
}

.text-info-payment {
    width: 510px;
}

.w-140 {
    width: 560px !important;
}
.w-130 {
    width: 460px !important;
}

.mt-26px {
    margin-top: 26px !important;
}

.color-delete {
    color: rgb(255, 86, 48);
}

.h-full {
    height: 100%;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-color: black;
    transition: all 0.2s ease-in-out;
}

.ql-container.ql-snow {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s ease-in-out;
    border-top: 0px;
    &:focus-within {
        border: 1px solid;
        border-top: 0px;
        border-color: black;
        transition: all 0.2s ease-in-out;
    }
}
