.itemClick {
    top: 56px;
    right: -80px;
}

.avatar {
    width: 54px;
    height: 54px;
    border-radius: 100rem;
    max-width: none;
}

.userName {
    padding-left: 8px;
    text-align: left;
}
